/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

// +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
// |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |                        |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |
// +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
// |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |                        |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |
// +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
// |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |                        |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |
// +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
// |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |      |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |  CLR   |
// +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
//                            |  CLR   |  CLR   |  CLR   |  CLR   |      |  CLR   |  CLR   |  CLR   |  CLR   |
//                            +--------+--------+--------+--------+      +--------+--------+--------+--------+

            bindings = <
    &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR                           &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR 
    &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR                           &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR 
    &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR                           &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR 
    &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR     &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR 
                                     &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR     &bt BT_CLR &bt BT_CLR &bt BT_CLR &bt BT_CLR 
            >;
        };

    };
};